{{ define "main" }}
<article>
  <header>
    <h1>{{ .Title }}</h1>
    <p>
      {{ with .Params.startDate }}
        <time
          datetime="{{ . }}"
          class="date-icon"
          aria-label='Date et heure : {{ . | time.Format "Monday 2 January, à partir de 15h04" }}{{ with $.Params.endDate }}{{ if $.Params.showEnd }}{{ . | time.Format ", jusque 15h04" }}{{ end }}{{ end }}.'
        >
        {{ if $.Params.showHours }}
          {{ . | time.Format "Monday 2 January, 15h04" }}
          {{ with $.Params.endDate }}{{ if $.Params.showEnd }}{{ . | time.Format "-15h04" }}{{ end }}{{ end }}
        {{ else }}
          {{ . | time.Format "Monday 2 January" }}
        {{ end }}
        </time>
      {{ end }}

      {{ with .Params.place }}
        <br />
        <span class="sr-only">Emplacement :</span>
        <a class="place-icon" target="_blank" href="{{ $.Params.placeUrl }}">{{ . }}</a>
      {{ end }}
    </p>
  </header>

  {{ .Content }}

  <p class="center">
    {{ with .OutputFormats.Get "Calendar" }}
    <a href="{{ .RelPermalink }}" type="text/calendar" class="btn"
      >Ajouter à mon calendrier (ics)</a
    >
    {{ end }}
  </p>
</article>
{{ end }}

