{{ define "main" }}
<section class="hero">
  <h1>{{ .Title }}</h1>
  <h2>{{ .Params.Lead | safeHTML }}</h2>
  <a class="btn" href="{{ "edition-2025" | absURL }}" role="button">L'Édition 2025</a>
  <a class="btn" href="{{ "edition-2025/programme" | absURL }}" role="button">Le Programme</a>
  <a class="btn" href="https://noe-app.io/grenoble-pride-2025/welcome" role="button">Deviens Bénévole !</a>
  <a class="btn" href="{{ "participer" | absURL }}" role="button">Je participe !</a>
  <a class="btn" href="https://billetterie.la-belle-electrique.com/agenda/575-marche-des-fiert%C3%A9s" role="button">Préventes After-Pride</a>
  <!-- <a class="btn" href="{{ "edition-2025/1er-juin" | absURL }}" role="button">La Pride</a>
  <a class="btn" href="{{ "edition-2025/programme" | absURL }}" role="button">Le Programme</a> -->
</section>
{{- .Content -}}
{{ end }}
